// Output grid helper classes and data-attributes
$o-buttons-is-silent: false;

@import 'src/scss/variables';

@import "o-colors/main";
@import 'o-fonts/main';
@import 'o-typography/main';
@import 'o-buttons/main';

@if $o-equity-highlight-app-is-silent == false {

    @include oFontsIncludeAll();

    .o-equity-highlight-app {
        display: block;
        @include oColorsFor(page);
        font-family: oFontsGetFontFamilyWithFallbacks(FinancierDisplayWeb);
        width: 260px;
        height: 216px;

        div {
             margin: 0;
        }

        &__companyName {
            @include oTypographyDisplay(2);
            @include oColorsFor('o-teaser', text, 80);
            @include oTypographyMargin($top: 0, $bottom: 0);
            font-weight: oFontsWeight(normal);
        }

        &--bordered {
            position: relative;
            border: 1px solid #d3c5b4;
            padding: 15px;
        }

        &__content {
            padding: 10px 0 0;
        }

        &__header{
            font: 500 19px FinancierDisplayWeb;
            color: #333;
            background-color: #fff1e0;
            display: inline-block;
            position: absolute;
            left: 20px;
            top: -10px;
            padding: 0 5px;
        }
        
        &__footer {
            font-family: MetricWeb,sans-serif;
        }

        &__symbol{
            width: 75%;
            display: inline-block;
            font: 600 18px/20px MetricWeb,sans-serif;
        }

        &__price {
            text-align: right;
            width: 25%;
            display: inline-block;
            font: 600 18px/20px MetricWeb,sans-serif;
        }

        &__price-change {
            margin-top: 8px;
            padding-top: 6px;
            border-top: 1px solid #e9decf;
            display: block;
            font: 500 13px/16px MetricWeb,sans-serif;
            color: #333;
            text-transform: uppercase;
        }

        span {
                display: block;
                color: #8b572a;
                text-transform: uppercase;
                font: normal 12px MetricWeb,sans-serif;
            }
        
        .mod-ui-link {
            color: #9e2f50;
            text-decoration: none;
            cursor: pointer;
            padding-top: 10px;
            border-top: 1px solid #E9DECF;
            display: block;
            font: 600 16px MetricWeb,sans-serif;
        }
        
    }

}