// Output grid helper classes and data-attributes
$o-card-is-silent: false;

@import 'src/scss/variables';

@import 'o-colors/main';
@import 'o-fonts/main';
@import 'o-typography/main';
@import 'o-card/main';
@import 'o-teaser/main';
@import 'o-teaser-collection/main';

@if ($o-equity-highlight-app-is-silent == false) {

    @include oFontsIncludeAll();

    .o-equity-highlight-app {
        display: block;
        @include oColorsFor(page);
        font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
        width: 260px;
        height: 200px;

        div, 
        span, 
        a {             
             @include oTypographyMargin($top: 0, $bottom: 0);
        }

        &__border {
            border-bottom: 1px solid oColorsGetPaletteColor('black-20');
        }

        &__header {           
            @include oTypographySans($scale: 1, $progressive: false);        
            @include oTypographyMargin($top: 0, $bottom: 5);          
            font-weight: oFontsWeight(bold);

            &:after {
                content: "";
                display: block;
                width: 60px;
                @include oTypographyMargin($top: 1, $bottom: 0);
                border-bottom: 4px solid oColorsGetPaletteColor('black');
                position: absolute;
                z-index: 1;
            }
        }
        
        &__symbol {
            width: 60%;
            display: inline-block;
        }

        &__price {
            text-align: right;
            width: 40%;   
            float: right;        
            @include oTypographySans($scale: 1, $progressive: false);
            font-weight: oFontsWeight(medium);
        }

        &__price-change,
        &__price-change--1week {
            width: 60%;
            display: inline-block;
            @include oTypographyMargin($top: 2);
            @include oTypographyPadding($top: 1.5);
            @include oColorsFor('div', text, 80);
            @include oTypographySans($scale: -1, $progressive: false);
            font-weight: oFontsWeight(medium);
            text-transform: uppercase;            
        }

        &__price-change--1week {
            text-align: right;
            width: 40%;
            float: right;
        }

        &__timestamp {
            display: block;   
            text-transform: uppercase;
            @include oTypographySans($scale: -2, $line-height: 20px, $progressive: false);
            font-weight: oFontsWeight(normal);
            color: oColorsGetPaletteColor('black-60');
        }
    }

    //origami overrides

    .o-teaser-collection__heading {
        font-size: 16px;

        &:before,
        &:after {
            border: 0px;
        }
        a:after {
            height: 26px;
            width: 26px;
        }
    }

    .mod-format--pos {
        color: #458b00;
    }
    .mod-format--neg {
        color: #c00000;
    }
}

