<div class="o-markitdigital-test" data-o-component="o-markitdigital-test">
	
	<h1 class="title">Equity highlight</h1>

	<div class="content">
		<div class="header">
			<div class="nameAndSymbol"></div>
			<div class="priceAndCurrency"></div>
		</div>
		<div class="body">
			<div class="priceChange"></div>
			<div class="historicalPriceChart"></div>
		</div>
		<div class="footer">
			<a href="">View more equities</a>
		</div>
	</div>
</div>